* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --base-font: 'Mulish', sans-serif;

    --white-color: #FFFFFF;
    --blue-font: #312D64;
    --pink-font: #B52184;

    --light-gray-background: #F9F4FB;
    --gradient-blue-background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
}

body {
    font-family: var(--base-font);
    background: var(--light-gray-background);
}

main {
    width: auto;
}

#hero .imagem {
    text-align: center;
}

#hero .imagem img {
    width: 84.6%;
}

#hero .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    margin-bottom: 9.3rem;
}

#hero .container .text-container {
    margin: 1.7rem auto 3.5rem;

    font-size: 2rem;
    font-weight: 600;
    color: var(--blue-font);
}

h1 {
    font-size: 3.2rem;
    color: var(--pink-font);
    font-weight: 800;
}

#cards {
    height: 100%;
    width: 100%;
    background: var(--gradient-blue-background);
    display: grid;
    padding: 5.3rem 3.9rem 5.5rem;
    gap: 4.9rem;
}

#cards .card {
    background: var(--white-color);
    border: 0;
    border-radius: 10px;
    padding: 2.6rem;
}

#cards .card img {
    width: 8rem;
    margin-bottom: 3.3rem;
}

h3 {
    font-size: 2.9rem;
    color: var(--pink-font);
    font-weight: 800;
    margin-bottom: 1.9rem;
}

p {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
    color: var(--blue-font);
}

#cards .card p {
    width: 26.5rem;
}

#form-contact {
    width: 100%;
    height: 100%;
    padding: 7.8rem 3.9rem 6.5rem;
}

h2 {
    color: var(--pink-font);
    font-weight: 800;
    font-size: 3.2rem;
    margin-bottom: 4.3rem;
}

input, textarea, button {
    border: 0;
    margin-bottom: 2.4rem;
    font-family: var(--base-font);
    color: var(--blue-font);
}

fieldset {
    border: 0;
}

#form-contact form textarea {
    height: 12.6rem;
}

#form-contact form input::placeholder,
#form-contact form textarea::placeholder {
  color: var(--blue-font);
  font-weight: 700;
  font-size: 1.6rem;
}

input, textarea {
    width: 100%;
    border: 0.15rem solid var(--blue-font);
    border-radius: 1.6rem;
    padding: 1.2rem 1.6rem 1.6rem;
    color: var(--blue-font);
    font-weight: 600;
    font-size: 1.6rem;
}

#form-contact form input {
    padding-top: 1.5rem;
    padding-left: 4.8rem;
}

#name {
    background: url(images/person.svg) no-repeat scroll 1.4rem 1.2rem;
}
  
#email {
    background: url(images/email.svg) no-repeat scroll 1.4rem 1.2rem;
}

#form-contact form button {
    height: 4.5rem;
    width: 15.1rem;
    border-radius: 1.6rem;
    color: var(--white-color);
    background: var(--blue-font);
    margin-bottom: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7.8rem;
    background: var(--gradient-blue-background);
}

footer .footer {
    color: var(--white-color);
    font-size: 1.9rem;
    font-weight: 600;
}

@media (min-width: 1440px) {
    h1 {
      font-size: 5.8rem;
      line-height: 7.3rem;
      margin: 0 0 0.8rem;
    }
  
    #hero {
      display: flex;
      justify-content: space-between;
      padding: 0 0 10.3rem 10.9rem;
      max-height: 83.6rem;
    }
  
    #hero .container {
      order: 1;
      margin-top: 31.2rem;
      margin-bottom: 0;
    }

    #hero .container .text-container {
        margin: 0;
    }
  
    #hero .imagem {
      order: 2;
      width: 52.9%;
    }

    #hero .imagem img {
        width: 100%;
    }
  
    #hero .container p {
      font-size: 3.2rem;
      line-height: 4rem;
      margin-bottom: 17.9rem;
    }
  
    #hero .container img {
      margin: 0;
      justify-self: flex-end;
    }
  
    /* Cards Section */
    #cards {
      grid-template-columns: repeat(3, 1fr);
      gap: 6rem;
      padding: 6.4rem 11.1rem 8rem;
    }
  
    #cards .card {
      padding: 3.2rem;
      border-radius: 2.4rem;
    }
  
    #cards .card img {
      width: 9.7rem;
      margin-bottom: 4rem;
    }
  
    /* Contact Section */
    #form-contact {
      display: flex;
      align-items: center;
      gap: 9.2rem;
      padding: 0;
      height: 62.2rem;
      margin: 0 auto;
      background: url(./images/stars.svg);
      background-repeat: no-repeat;
      background-position: right;
    }
  
    #form-contact form {
      flex: 1;
      margin-left: 10.9rem;
    }
    #form-contact .stars {
      flex: 1;
    }
  }